* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url("/axis.com/assets/font/Gobold Regular.otf");
}

body {
    font-family: myFont, serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.445);
}

.container {
    width: 40%;
    border-radius: 20px;
    background-color: white;
    padding: 3%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form img {
    width: 200px;
}

input {
    width: 100%;
    padding: 0 30px;
    font-size: 30px;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(151, 151, 151, 0.61);
    line-height: 40px;
    height: 100%;
    transition: .1s;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group button {
    font-family: myFont;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.floating-label {
    position: absolute;
    font-size: 1.2em;
    left: 3%;
    color: rgb(190, 190, 190);
    pointer-events: none;
    transition: 0.2s ease;
}

.forgot-pass {
    margin-top: 1%;
    margin-left: 10px;
}

.forgot-pass a {
    text-decoration: none;
    font-size: .9em;
    color: black;
}

.label-register {
    text-align: center;
    font-size: .9em;
}

.label-register a {
    text-decoration: none;
    color: black;
}

.login-error {
    color: rgb(204, 0, 0);
    font-size: 1em;
    text-align: center;
    padding: 1%;
}

/* animation */

input:focus,
input:valid {
    transition: transform 0.2s ease-in;
    border-color: black;
}

input:focus + .floating-label,
input:valid + .floating-label {
    line-height: 30px;
    transform: translate(0, -100%) scale(0.80);
    color: black;
    z-index: 1111;
}

button:not(:disabled) {
    background-color: black;
    color: white;
    cursor: pointer;
}