* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url("/axis.com/assets/font/Gobold Regular.otf");
}

body {
    font-family: myFont, serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.445);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    background-color: white;
    padding: 3%;
    gap: 30px;
}

.logo img {
    width: 150px;
}

.display {
    font-size: 1.5em;
}

.redirect {
    display: flex;
    justify-content: right;
    width: 100%;
}

.redirect a {
    text-decoration: none;
    color: black;
}

.redirect-container {
    padding: 5px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    transition: .5s ease;
}

/* animation */

.redirect-container:hover {
    background-color: rgba(216, 216, 216, 0.445);
}