* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url("/axis.com/assets/font/Gobold Regular.otf");
}

body {
    font-family: myFont, serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.445);
}

.container {
    width: 40%;
    border-radius: 20px;
    background-color: white;
    padding: 3%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

form img {
    width: 150px;
}

input {
    width: 100%;
    padding: 0 30px;
    font-size: 30px;
    outline: none;
    border: none;
    border-bottom: 3px solid rgba(151, 151, 151, 0.61);
    line-height: 40px;
    height: 100%;
    transition: .1s;
    box-sizing: border-box;
    margin-bottom: 1%;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group button {
    font-family: myFont;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.hasAccount {
    text-align: center;
}

.hasAccount a{
    text-decoration: none;
    color: black;
}

.hasAccount p{
    font-size: .8em;
}

.name-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.name-group label {
    left: 6% !important;
}

.password-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.password-group label{
    left: 6% !important;
}

.floating-label {
    position: absolute;
    font-size: 1em;
    left: 3%;
    color: rgb(190, 190, 190);
    pointer-events: none;
    transition: 0.2s ease;
}

.register-error p {
    font-size: .8em;
    color: rgb(204, 0, 0);
}

/* animation */

input:focus,
input:valid {
    border-color: black;
}

input:focus + .floating-label,
input:valid + .floating-label {
    line-height: 30px;
    transform: translate(0, -100%) scale(0.80);
    color: black;
    z-index: 1111;
}

input.invalid {
    border-color: rgb(204, 0, 0);
}

input.invalid + .floating-label {
    color: rgb(204, 0, 0);
    transform: translate(0, -100%) scale(0.80);
}

button:not(:disabled) {
    background-color: black;
    color: white;
    cursor: pointer;
}
