.row {
    display: flex;
    background-color: white;
    height: 103px;
    width: 100%;
    box-shadow: 0px 2px 7px rgb(202, 197, 197);
    position: sticky;
    top: 0;
    z-index: 1111;
}

.row svg {
    fill: black;
}

.row a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.row ul {
    align-items: center;
    height: 100%;
}

.row img {
    height: 100px;
    padding-left: 20px;
}

.logo {
    padding: 0px !important;
}

.left {
    margin-right: 550px;
}

.right {
    width: 100%;
}

.right, ul{
    display: flex;
    list-style: none;
    width: 100%;
}


.profile-section {
    gap: 10%;
}

.shop-section {
    margin-right: 15%;
}

.shop-section li{
    padding: 0 2.5rem;
}

.active {
    border-bottom: 3px solid black;
    transition: .5s ease-in-out;
}