* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

@font-face {
    font-family: myFont;
    src: url("/axis.com/assets/font/Gobold Regular.otf");
}

body {
    font-family: myFont, serif;
    min-height: 100vh;
    width: 100%;
    scrollbar-width: none;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 103px);
    width: 100%;
    overflow: scroll;
    background-color: rgb(235, 235, 235);
    align-items: center;
}

.navigation {
    margin-top: 50px;
    height: 50px;
    background-color: white;
    width: 90%;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(119, 119, 119);
}

.navigation .ul .li{
    display: flex;
    height: 100%;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.ul {
    height: 100%;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 5px 0px;
}

.main-content {
    width: 95%;
    margin-top: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(119, 119, 119);
    padding: 20px;
    overflow: scroll;
    min-height: 520px;
    max-height: 520px;
}