* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

@font-face {
    font-family: myFont;
    src: url("/axis.com/assets/font/Gobold Regular.otf");
}

body {
    font-family: myFont, serif;
    min-height: 100vh;
    width: 100%;
    scrollbar-width: none;
    background-color: rgb(255, 255, 255);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 103px);
    padding: 50px 20px;
}

.back-button {
    align-self: flex-start;
}

.back-button a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    text-decoration: none;
    font-size: 1.2em;
    transition: 0.2s;
}

.back-button a:hover {
    color: #000;
    transform: translateX(-5px);
}

.status {
    display: flex;
    height: 25px;
    width: 600px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    padding-bottom: 30px;
}

.cart-status {
    background-color: rgb(78, 185, 78);
    padding: 10px 50px;
    border-radius: 50px;
    width: 100%;
}

.cart-error {
    background-color: rgb(245, 49, 49);
    padding: 5px 300px;
    border-radius: 50px;
}

.product-container {
    display: flex;
    gap: 60px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 40px 60px;
    max-width: 1500px;
    width: 100%;
}

.product-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-details h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.div-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 400px;
}

.price {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 25px;
}

.sizes {
    margin-bottom: 25px;
}

.size-options {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.size-options button {
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.size-options button:hover {
    background-color: #000;
    color: #fff;
}

.size-options .active {
    background-color: #000;
    color: #fff;
}

.add-to-cart:disabled {
    background: #d3cdcd;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.add-to-cart:not(:disabled) {
    background: #000;
    color: #fff;
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-to-cart:not(:disabled):hover {
    transform: translateY(-2px);
    background: #333;
}